<div class="row">
  <div class="col-md-6">
    <h1>Novo</h1>
  </div>
  <div class="col-md-6">
    <a class="btn btn-primary pull-right" (click)="envia()">Criar</a>
    <a class="btn btn-default pull-right" href="" role="button" style="margin-right: 10px">
      <span class="glyphicon glyphicon-arrow-left"></span> Voltar a listagem
    </a>
  </div>
</div>
<hr>

<form [formGroup]="formTarefa">
  <div class="form-group">
    <label>Titulo</label>
    <input type="text" class="form-control" formControlName="titulo">
    <p class="help-block" *ngIf="!formTarefa.controls.titulo.valid && (formTarefa.controls.titulo.dirty || tentativaEnvio)">Campo obrigatório</p>
  </div>
  <div class="form-group">
    <label>Descrição</label>
    <input type="text" class="form-control" formControlName="descricao">
  </div>
  <div class="form-group">
    <label>Situacao</label>
    <select class="form-control" formControlName="situacao">
      <option value="1">Aberto</option>
      <option value="2">Em andamento</option>
      <option value="3">Concluído</option>
      <option value="4">Cancelado</option>
    </select>
    <p class="help-block" *ngIf="!formTarefa.controls.situacao.valid && (formTarefa.controls.situacao.dirty || tentativaEnvio)">Campo obrigatório</p>
  </div>
</form>
