<div class="row">
  <div class="col-md-6">
    <h1>Listagem</h1>
  </div>
  <div class="col-md-6">
    <a class="btn btn-default pull-right" href="/tarefa-adicionar" role="button">
      <span class="glyphicon glyphicon-plus"></span> Adicionar nova
    </a>
  </div>
</div>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Situação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of tarefas">
      <td>{{tarefa.titulo}}</td>
      <td>{{tarefa.descricao}}</td>
      <td *ngIf="tarefa.situacao == 1">Aberto</td>
      <td *ngIf="tarefa.situacao == 2">Em andamento</td>
      <td *ngIf="tarefa.situacao == 3">Concluído</td>
      <td *ngIf="tarefa.situacao == 4">Cancelado</td>
      <td>
        <a class="btn btn-default" (click)="deleta(tarefa)">
          <span class="glyphicon glyphicon-trash"></span> Deletar</a>
      </td>
    </tr>
  </tbody>
</table>
